ion-toolbar{
    background: #2eeb9b ;
}
ion-content{
    --background:#ececec;
}
.boton{
    text-align: center;
}
.btn{
    background: #5dade2;
    min-height: 40px;
    width: 10%;
    color: black;
    border-radius: 15px;
    font-size: 15px;
    margin-right: 20px;
}