<ion-header [translucent]="true">
  <ion-toolbar class="verde" color="negro">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow" [routerLink]="['/listar-rfid']">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="verde">
    <ion-list>
      <form [formGroup]="RFIDForm">
        <ion-item>
          <ion-label position="stacked">Nombre del niño</ion-label>
          <ion-input #Nino formControlName="Nino"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Salon</ion-label>
          <ion-input #Salon formControlName="Salon"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nombre del Padre</ion-label>
          <ion-input #Padre formControlName="Padre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Telefono</ion-label>
          <ion-input #NumeroT formControlName="NumeroT"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nombre de la Persona Externa</ion-label>
          <ion-input #NombrePExterna formControlName="NombrePExterna"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Activo/Inactivo</ion-label>
          <ion-input #Estado formControlName="Estado"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CURP Papa/Mama</ion-label>
          <ion-input #CURP formControlName="CURP"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nombre Mama</ion-label>
          <ion-input #Mama formControlName="Mama"></ion-input>
        </ion-item>
      </form>
    </ion-list>
  </ion-card>
  <div class="boton">
  <button type="button" class="btn" (click)="agregarRFID(Nino, Salon, Padre, NumeroT, NombrePExterna,Estado, CURP, Mama)" id="open-loading" [routerLink]="['/listar-rfid']">Crear</button>
  <ion-loading trigger="open-loading" message="Generando tarjeta RFID, por favor espere..." duration="3000"></ion-loading>
</div>
</ion-content>