<ion-header [translucent]="true">
  <ion-toolbar color="verde">
    <ion-title>CrearRFID</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CrearRFID</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-card color="secondary">
  <ion-card-header>
    CrearRFID
  </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-input label="Nombre del niño"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Salon"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nombre del Padre"></ion-input>
    </ion-item>
  </ion-list>
  <button class="btn" id="open-loading" [routerLink]="['/tarjeta-rfid']">Registrar</button>
  <ion-loading trigger="open-loading" message="Generando tarjeta rfid, por favor espera..." duration="3000"></ion-loading>
</ion-card>
