ion-toolbar{
    background: #2eeb9b;
}
ion-datetime{
    margin-left: 500px;
}
@media (max-width: 800px) {
    ion-datetime{
        margin-left: 30px;
    }
}
.verde {
    color: green;
  }
  
  .rojo {
    color: red;
  }
  
.header{
    background: #1fa56d;
}
.title{
    color: black;
}