<ion-header [translucent]="true">
  <ion-toolbar class="verde" color="verde">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Salidas</ion-title>
  </ion-toolbar>
  <ion-datetime></ion-datetime>
</ion-header>
<ion-list>
  <ion-item>
    <ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-list [inset]="true">
        <ion-item>
          <ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
          </ion-label>
        </ion-item>
      </ion-list>
