<ion-header [translucent]="true">
  <ion-toolbar class="verde" color="negro">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header class="header">
    <ion-card-title class="title">Entradas y Salidas</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="listaRFID.length > 0">
    <ion-list *ngFor="let rfid of listaRFID">
      <ion-item>
        <ion-label class="verde">{{ rfid.hora_entrada }}</ion-label> <ion-label class="rojo">{{ rfid.hora_salida }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
