ion-toolbar{
    background: #A9F9AA;
}
ion-datetime{
    margin-left: 500px;
}
@media (max-width: 800px) {
    ion-datetime{
        margin-left: 30px;
    }
}
.verde {
    color: green;
  }
  
  .rojo {
    color: red;
  }
  
