ion-toolbar{
    background: #A9F9AA;
}
.btn{
    background-color: #8f8e8e;
    color: white;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 40PX;
}


ion-content{
    --background: #ececec;
    margin-top: auto;
    margin-bottom: auto;
    
}
.person{
    margin-left: 630px;
    width: 100px;
    font-size: 500%;
}
ion-title{
    margin-left: auto;
}

@media (max-width: 800px) {
    ion-toolbar{
        background: #A9F9AA;
    }
    
    .btn{
        background-color:#8f8e8e;
        color: white;
        border-radius: 15px;
        font-size: auto;
        margin-left: 25%;
    }
  
    .person{
        margin-left: 35%;
        width: 100px;
    }
    ion-title{
        margin-left: 35px;
    }
    ion-content{
        --background: #ececec;
        margin-top: auto;
        margin-bottom: auto;
        
    }
}
.contra{
    width: 40px;
}
.email{
    width: 40px;
}