ion-toolbar{
    background:url(../imagenes/color.png);
}
.btn{
    background-color: #8f8e8e;
    color: white;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 40PX;
}
.btn2{
    background-color: #ececec;
    color: white;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 70px;
}

ion-content{
    --background: #ececec;
    margin-top: auto;
    margin-bottom: auto;
    
}
ion-icon{
    margin-left: 630px;
    width: 100px;
    font-size: 500%;
}
ion-title{
    margin-left: auto;
}

@media (max-width: 800px) {
    ion-toolbar{
        background:url(../imagenes/color.png);
    }
    
    .btn{
        background-color:#8f8e8e;
        color: white;
        padding: 20px 30px;
        border-radius: 15px;
        font-size: auto;
        margin-left: 40px;
    }
    .btn2{
        background-color: #ececec;
        color: white;
        padding: 20px 30px;
        border-radius: 15px;
        font-size: 15px;
        margin-left: auto;
        margin-top: 10px;
    }
    ion-icon{
        margin-left: 80px;
        width: 100px;
    }
    ion-title{
        margin-left: 35px;
    }
    ion-content{
        --background: #ececec;
        margin-top: auto;
        margin-bottom: auto;
        
    }
}