<ion-header>
  <ion-toolbar color="login" class="inicio">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon class="person" name="person-circle" color="login"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
        <ion-input label="Correo" formControlName="email" label-placement="floating"></ion-input>
        <ion-icon class="email" name="mail-outline"></ion-icon> 
      </ion-item> 
       <br/>
       <ion-item>
        <ion-input label="Contraseña" formControlName="password" label-placement="floating" type="password" ></ion-input>
        <ion-icon class="contra" name="lock-closed-outline"></ion-icon>
      </ion-item> 
      </form>
      <br>
      <button class="btn" id="open-loading" (click)="login()" >Iniciar Sesión</button>
      <ion-loading trigger="open-loading" message="Iniciando, por favor espere..." duration="3000"></ion-loading>
      <button class="btn2" [routerLink]="['/listar-rfid']">Sesion Administrador</button>

    </ion-card-content>
  </ion-card>
</ion-content>

