<ion-header [translucent]="true">
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>


<ion-card>
  <ion-card-header>
    <ion-card-title>Generar TarjetaRFID</ion-card-title>
  </ion-card-header>

  <ion-button [routerLink]= "['/crear-rfid']" fill="clear"><ion-icon name="create-outline"></ion-icon>Crear</ion-button>
  <ion-button [routerLink]= "['/borrar-rfid']" fill="clear"><ion-icon name="trash-outline"></ion-icon>Borrar</ion-button>
  <ion-button [routerLink]= "['/actualizar-rfid']"fill="clear"><ion-icon name="reload-outline"></ion-icon>Actualizar</ion-button>

</ion-card></ion-content>