ion-toolbar{
    background: #A9F9AA;
}
.bt{
    color: black;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 620px;
    width: 50px;
    height: 50px;
}
.qr{
    width: 50px;
    height: 50px;
    margin-left: 620px;
    color: black;
    cursor: pointer;
}
ion-content{
    --background:#ececec;
    margin-top: auto;
    margin-bottom: auto;
    
}
@media (max-width: 800px) {
    ion-content{
        --background:#ececec;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    .qr{
        width: 50px;
        height: 50px;
        color: black;
        cursor: pointer;
        margin-left: 45%;
        margin-top: 5px;
    }
 
}
.uno{
    background-color: #C8E4B2;
}
ion-card-title.uno1{
    color: black;
    font-size: 20px;
}
.calendar{
    width: 20px;
    height: 20px;
}
.btn2{
    margin-left: 650px;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 15px;
    //font-size: 15px;
    width: 20px;
    height: 20px;
    margin-top: 50px;

}
.img2{
    width: 50px;
    height: 50px;
}
