ion-toolbar{
    background: #2eeb9b;
}
.btn{
    background-color: #5dade2;
    color: black;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 15px;

    width: 50px;
    height: 50px; 
    text-align: center;
}
.boton{
    text-align: center;
}

.qr{
    width: 50px;
    height: 50px;
    color: black;
    cursor: pointer;
}
.two{
    text-align: center;
}
ion-content{
    --background:#ececec;
    margin-top: auto;
    margin-bottom: auto;
    
}
@media (max-width: 800px) {
    .qr{
        width: 50px;
        height: 50px;
        color: black;
        cursor: pointer;
        text-align: center;
    }
    .two{
        text-align: center;
    }
    .btn{
        width: 40%;
        height: 35%;
    }
 
}
.uno{
    background-color: #1fa56d;
}

ion-card-title.uno1{
    color: black;
    font-size: 20px;
}
.calendar{
    width: 20px;
    height: 20px;
}
.btn2{
    margin-left: 650px;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 15px;
    //font-size: 15px;
    width: 20px;
    height: 20px;
    margin-top: 50px;

}
.img2{
    width: 50px;
    height: 50px;
}
