<ion-header [translucent]="true">
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
  <ion-card>
    <ion-card-header color="verde" class="uno">
      <ion-card-title color="negro" class="uno1">Ingresé:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br />
      <ion-input label="Nombre de la persona" label-placement="floating" fill="outline" placeholder="Ingresé nombre de la persona"></ion-input>
      <br />
      <ion-input label="Nombre del niño" label-placement="floating" fill="outline" placeholder="Ingresé nombre del niño"></ion-input>
      <br />
      <ion-input label="Nombre del padre" label-placement="floating" fill="outline" placeholder="Ingresé nombre del padre"></ion-input>
      <br />
      <ion-input label="Teléfono" label-placement="floating" fill="outline" placeholder="Ingresé teléfono"></ion-input>
      <br />
      <ion-input label="Salón" label-placement="floating" fill="outline" placeholder="Ingresé salón"></ion-input>
      <br />
   
    
    <ion-icon class="qr" name="qr-code-outline" [routerLink]="['/info-qr']"></ion-icon> </ion-card-content>
   </ion-card>
</ion-content>
