<ion-header [translucent]="true">
  <ion-toolbar color="rosa">
    <ion-buttons slot="start" >
      <ion-back-button icon="arrow-back" defaultHref="arrow" [routerLink]="['/tab1']">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-card-content *ngIf="listaRFID.length > 0">
  <ion-list *ngFor="let rfid of listaRFID">
    <ion-item>
      <ion-label ><strong style="text-align: center;">Nombre del Niño:</strong> {{ rfid.NombreNino }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong style="text-align: center;">Salón:</strong> {{ rfid.Salon }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong style="text-align: center;">Nombre del Padre:</strong> {{ rfid.NombrePadre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong style="text-align: center;">Nombre de la Madre:</strong> {{ rfid.NombreMama }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong style="text-align: center;">Numero de Telefono:</strong> {{ rfid.NumeroT }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong style="text-align: center;">Nombre de la Persona Externa:</strong> {{ rfid.NombrePExterna }}</ion-label>
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-card>
</ion-content>

