<ion-header [translucent]="true">
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow">
      </ion-back-button>
    </ion-buttons>
    <ion-title> QR</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingrese:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     
      <ion-input label="Nombre de la persona" label-placement="floating" fill="outline" placeholder="Ingrese nombre de la persona"></ion-input>
      <br />
      <ion-input label="Nombre del niño" label-placement="floating" fill="outline" placeholder="Ingrese nombre del niño"></ion-input>
      <br />
      <ion-input label="Nombre del padre" label-placement="floating" fill="outline" placeholder="Ingrese nombre del padre"></ion-input>
      <br />
      <ion-input label="Telefono" label-placement="floating" fill="outline" placeholder="Ingrese telefono"></ion-input>
      <br />
      <ion-input label="Salon" label-placement="floating" fill="outline" placeholder="Ingrese salon"></ion-input>
      <br />
    </ion-card-content></ion-card>
    <button class="bt" [routerLink]="['/qr']">Generar QR</button>
  
</ion-content>
