ion-toolbar{
    background: #A9F9AA;
}
.uno{
    margin-left: 20px
}
.gris{
    background:#8f8e8e ;
    color: white;
    margin-left: 610px;
    padding: 5px 35px;
    border-radius: 15px;
    font-size: 15px;
    margin-top: auto;
    display: flex;
    align-items: center;

}
.gris2{
    background:#8f8e8e ;
    color: white;
    margin-left: 600px;
    padding: 15px 35px;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;

}
.person{
    width: 30px;
    height: 30px;
  
}
.card{
    width: 30px;
    height: 30px;
}




ion-content{
    --background:#ececec;
    margin-top: auto;
    margin-bottom: auto;
}
@media (max-width: 800px) {
    ion-content{
        background:#ececec;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    .gris{
 
        color: white;
        margin-left: 20%;
    
    }
    .gris2{
 
        color: white;
        margin-left: 20%;
    
    }
}
ion-icon{
    margin-right: 5px;
}
