<ion-header [translucent]="true">
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-row>
      <ion-col size="10">
    <ion-card-header>
      <ion-card-title>Escanéame</ion-card-title>
    </ion-card-header>
  <ion-header collapse="condense">
  </ion-header>
  <ion-img src="https://t3.gstatic.com/licensed-image?q=tbn:ANd9GcSh-wrQu254qFaRcoYktJ5QmUhmuUedlbeMaQeaozAVD4lh4ICsGdBNubZ8UlMvWjKC"
  alt="Codigo QR"></ion-img>
  </ion-col>
  </ion-row>
</ion-card>
</ion-content>
