ion-toolbar{
    background: #A9F9AA;
}
ion-content{
    --background:#ececec;
    margin-top: auto;
    margin-bottom: auto;
    
}


@media (max-width: 800px) {
    ion-content{
        --background:#ececec;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    

}

