<ion-header>
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <div class="qr-code">
        <img src="" alt="qr-code">
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <ion-button 
  expand="block" 
  class="ion-margin" 
  (click)="startScan()"
  
>
  Scan QR Code
</ion-button> -->



</ion-content>