ion-toolbar{
    background: #A9F9AA;
}
ion-content{
    --background:#ececec;
    margin-top: auto;
    margin-bottom: auto;
    
}
ion-img{
    width: 400px;
    margin-top: 15px;
    margin-left: 25%;
    border-image: black;
    margin-right: 25%;
}

@media (max-width: 800px) {
    ion-content{
        --background:#ececec;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    ion-img{
       width: 200px;
       margin-top: 70px;
       margin-left: 55px;
       height: 300px;
    }
    ion-card{
        background-color:  #C8E4B2 ;
        margin-left: 200px;
        margin-top: 30px;
        width: 500px;
        height: 300px;
    }
    ion-card-title{
        text-align: center;
        font-weight: bold;
    }
}
ion-card{
    background-color:  #C8E4B2 ;
    height: 500px;
    margin-left: 25%;
    margin-right: 25% ;
    margin-top: 30px;
}
ion-card-title{
    text-align: center;
    font-weight: bold;
}