ion-toolbar{
    background: url(../imagenes/color.png);
}
ion-content{
    --background:#ececec;
    margin-top: auto;
    margin-bottom: auto;
    
}
ion-img{
    width: 400px;
    margin-top: 50px;
    margin-left: 475px;
    border-image: black;
}

@media (max-width: 800px) {
    ion-content{
        --background:#ececec;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    ion-img{
       width: 250px;
       margin-top: 70px;
       margin-left: 35px;
    }
}