<ion-header [translucent]="true">
  <ion-toolbar color="inicio">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-icon class="log" name="log-out-outline" [routerLink]="['/login']"></ion-icon>
  </ion-toolbar>
</ion-header>
<style>
  .centered-title {
    text-align: center;
  }
</style>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listar RFID</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
      <ion-card-header class="header">
        <ion-card-title class="title">Niños</ion-card-title>
      </ion-card-header>    
    <ion-card-content *ngIf="listaRFID.length > 0">
      <ion-list *ngFor="let rfid of listaRFID">
        <ion-item>
          <ion-label>Nombre del Niño: {{ rfid.NombreNino }}</ion-label>
          <ion-label>Salón: {{ rfid.Salon }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="coso">
  <button class="uno" color="gris" [routerLink]="['/registro']">
    <ion-icon class="person" name="person-circle-outline"></ion-icon>Registrar Usuario
  </button>
  <button class="uno" color="gris" [routerLink]="['/crear-rfid']">
    <ion-icon class="person" name="person-circle-outline"></ion-icon>Registrar Niño
  </button>
</div>
  
</ion-content>
