ion-toolbar{
    background:  #2eeb9b ;
}
ion-content{
    --background:#ececec;
    margin-top: auto;
    margin-bottom: auto;
}
.uno{
    background: #5dade2;
    min-height: 50px;
    width: 20%;
    color: black;
    border-radius: 15px;
    font-size: 15px;
    margin-right: 20px;

  align-items: center;
}
.dos{
    background:#8f8e8e ;
    color: white;
    border-radius: 15px;
    font-size: 15px;

}
.coso{
   text-align: center;
}

@media (max-width: 800px) {
    .uno{
 
        color: white;
        margin-left: 20%;
    }
    .dos{
 
        color: white;
        margin-left: 20%;
    
    }
}
.header{
    background: #1fa56d;
}
.title{
    color: black;
}
.log{
    width: 30px;
    height: 30px;
    color: black;
    margin-left: 1300px;
    cursor: pointer;
}