<ion-header [translucent]="true">
  <ion-toolbar color="verde">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="arrow">
      </ion-back-button>
    </ion-buttons>
    <ion-title>ActualizarRFID</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actualizar RFID</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card color="secondary">
  <ion-list>
    <ion-item>
      <ion-input label="Nombre del niño"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Salon"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nombre del Padre"></ion-input>
    </ion-item>
  </ion-list>
</ion-card>
  <button class="btn" id="open-loading" [routerLink]="['/tarjeta-rfid']">Actualizar</button>
  <ion-loading trigger="open-loading" message="Actualizando tarjeta rfid, por favor espere..." duration="3000"></ion-loading>

</ion-content>