ion-toolbar{
    --background: url(../imagenes/dos.png);
}
.rosa1{
    background-color: #8d5ba5;
}
.rosa2{
    background-color: #ff8323;
}
.rosa3{
    background-color: #f9a8c9;
}
.btn{
    color: white;
    margin-left: 640px;
    margin-top: auto;
    border-radius: 15px;
    background-color: #8f8e8e;
    font-size: 15px;
    padding: 15px 35px;
}
@media (max-width: 800px) {
     
    .btn {
        margin-left: 100px;
    }
}

.rosa1{
    background-color: #8d5ba5;
}
ion-card-title.uno{
    color: black;
}
ion-card-title.dos{
    color: black;
}
ion-card-title.tres{
    color: black;
}

ion-content{
    --background:url(../imagenes/dos.png) no-repeat center center / cover;
    margin-top: auto;
    margin-bottom: auto;
    
}

@media (max-width: 800px) {
    ion-content{
        --background:url(../imagenes/2.png) no-repeat center center / cover;
        margin-top: auto;
        margin-bottom: auto;
        
    }
}