<ion-header>
  <ion-toolbar color="login" class="inicio">
    <ion-buttons slot="start">
        <ion-back-button icon="arrow-back" defaultHref="arrow">
        </ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>    
    <ion-card-header color="morado" class="uno" >
      <ion-card-title class="uno" color="negro" >Registro App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro">
        <br/>
        <ion-item>
          <ion-input formControlName="email" placaholder="email"
          label-placement="floating" label="Correo"></ion-input>
          <ion-icon class="email" name="mail-outline"></ion-icon> 
        </ion-item>
          <br/>  
          <ion-item>
          <ion-input formControlName="password" placeholder="password" type="password"
          label-placement="floating" label="Contraseña"></ion-input>
          <ion-icon class="contra" name="lock-closed-outline"></ion-icon>
        </ion-item>
      </form>
      <br/>
    <button class="btn" id="open-loading" (click)="signUp()" [routerLink]="['/tab3']">Registrar</button>
    <ion-loading trigger="open-loading" message="Registrando, por favor espere..." duration="3000"></ion-loading>
    <br/>
  </ion-card-content>
  </ion-card>
  </ion-content>


