ion-toolbar{
    background-color: #2eeb9b;
}
.uno{
    background-color: #1fa56d;
}
.btn{
    color: black;
    margin-top: auto;
    border-radius: 15px;
    background-color: #5dade2;
    font-size: 15px;
    padding: 15px 35px;
}
@media (max-width: 800px) {
     
    .btn {
        margin-left: 90px;
    }
}

ion-card-title.uno{
    color: black;
}


ion-content{
    --background:#ececec; 
    margin-top: auto;
    margin-bottom: auto;
    
}


@media (max-width: 800px) {
    ion-content{
        --background:#ececec; 
        margin-top: auto;
        margin-bottom: auto;
        
        
    }
}
.contra{
    color: black;
}
.email{
    color: black;
}
.boton{
    text-align: center;
}